<section class="container profile" >
    
    {{#if user.isOwner}}
        <a class="href-as-green-button" href="/restaurant">See my list of restaurants</a></strong>
    {{else if user.isAdmin}}
        <a class="href-as-green-button" href="/admin">See all restaurants</a></strong>
    {{/if}}

    <h3>{{user.name}}'s Profile info</h3>
    <span><strong>User Type</strong>: {{user.userType}}</span>
    <br />
    <span><strong>Name</strong>: {{user.name}}</span>
    <br />
    <span><strong>Email</strong>: {{user.email}}</span>
    <br />
    <div>
    <strong>Allergies (click</strong>
    <strong><a href="/foodie/edit">here</a></strong>
    <strong> to update ):</strong>
    <span>{{user.allergies}}</span>
    </div>
        </br>

</section>


