<section class ="container centered" >
<table class="table">
    <thead>
        <tr>
            <th scope="col">Dish Name</th>
            <th scope="col">Dish Allergens</th>
            <th scope="col">Dish Description</th>
            <th scope="col">Edit dish</th>
            <th scope="col">Delete dish</th>
        </tr>
    </thead>
    <tbody>
        {{#each restMenu}}
            <tr>
                <td scope="row">{{dishName}}</td>
                <td scope="row">{{allergies}}</td>
                <td scope="row">{{dishDescription}}</td>
                <td scope="row"><a href="/restaurant/{{restaurantId}}/{{_id}}/edit">Edit</a></td>
                <td scope="row"><a href="/restaurant/{{restaurantId}}/{{_id}}/delete">Delete</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<hr>
<h2>{{restaurant.name}} Menu</h2>
<h3>Add New Dish</h3>

<form id="form" action="" method="post">
  
  <label for="dish-name-input">Dish name</label>
  <input type="text" id="dish-name-input" name="dishName" required placeholder="Dish name" />
  
  
  <label for="dish-description-input">Dish Description</label>
  <textarea type="text" id="dish-description-input" name="dishDescription" placeholder="Dish description" /></textarea>
 <br>
  <div>
    {{> allergies}} 
  </div> 

  <button class="btn">Submit dish</button>
</form>
</section>