<div class="restaurant-index">
  <a class="href-as-green-button" href="/restaurant/createByZomatoId">Create New Restaurant With Zomato Account</a>
  <a class="href-as-green-button" href="/restaurant/create">Create new Restaurant</a>
</div>

<section class="container">
  <h1>List of {{restaurant.ownerId}} </h1>

  <article >
    {{#each restaurants}}
    <div class="restaurantIndex">
      <h3>
        <a href="/restaurant/{{_id}}">{{name}}</a>
      </h3>
      <img src="{{image}}" alt="image"/>
      <p><strong>Cuisine Type: </strong>{{cuisineType}}</p>
      <div class="href-3-buttons">
        <a class="href-as-yellow-button" href="/restaurant/{{_id}}/addMenu">Add Restaurant Menu</a>
        <a class="href-as-yellow-button" href="/restaurant/{{_id}}/edit">Edit Restaurant</a>
        <a class="href-as-yellow-button" href="/restaurant/{{_id}}/delete">Delete Restaurant</a>
      </div>
    </div>
    {{/each}}
  </article>
</section>
