<div id="map-container"></div>

<section class="container">
    <h1>Restaurants List</h1>
    <ul>
    {{#each restaurants}}
        <li>
            <a href="{{_id}}">{{name}}</a>
            <p>{{cuisineType}}</p>
            <p>{{description}}</p>
            </br>
        </li>
    {{/each}}
    </ul>
</section>

<script>
    const restaurants = {{{ json restaurants }}};
    console.log(restaurants[0].location.coordinates[0]);

    function initMap() {
        const $mapContainer = document.getElementById('map-container');
        const map = new window.google.maps.Map($mapContainer, {
            center: {lat: 38.7223, lng: -9.10},
            zoom: 11
        });
    

        const markers = [];

        for (let restaurant of restaurants) {
            console.log(restaurant.location.coordinates[0]);
            const marker = new window.google.maps.Marker({
                map,
                position: { 
                    lat: restaurant.location.coordinates[0],
                    lng: restaurant.location.coordinates[1] 
                }
            });

            markers.push(marker);
        }

    }


</script>

{{> mapscript}}