<section class="container centered">
<h4>Restaurant's {{restaurant.name}} Menu</h4>

<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Dish Name</th>
            <th scope="col">Dish Allergens</th>
            <th scope="col">Dish Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each restMenu}}
            <tr>
                <td scope="row">{{dishName}}</td>
                <td scope="row">{{allergies}}</td>
                <td scope="row">{{dishDescription}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<br/>
<a class="href-as-green-button" href="/restaurant/{{restaurant._id}}">Back to the restaurant</a>
</section>