<section class="container">
    {{!-- <p>Restaurant's {{name}} Menu</p> --}}
{{!-- 
    {{#each restMenu}}
        <h5>{{dishName}}</h5>
        <p>{{allergies}}</p>
    {{/each}} --}}
{{!-- </section> --}}

<h4>Restaurant's {{name}} Menu</h4>

<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Dish Name</th>
            <th scope="col">Dish Allergens</th>
            <th scope="col">Dish Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each restMenu}}
            <tr>
                <td scope="row">{{dishName}}</td>
                <td scope="row">{{allergies}}</td>
                <td scope="row">{{dishDescription}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
</section>