<section class="container">
    {{!-- <p>Restaurant's {{name}} Menu</p> --}}
{{!-- 
    {{#each restMenu}}
        <h5>{{dishName}}</h5>
        <p>{{allergies}}</p>
    {{/each}} --}}
{{!-- </section> --}}


<table>
        <p>Restaurant's {{name}} Menu</p>
    <thead>
        <tr>
            <td>Dish Name</td>
            <td>Dish Allergens</td>
            <td>Dish Description</td>
        </tr>
    </thead>
    <tbody>
        {{#each restMenu}}
            <tr>
                <td>{{dishName}}</td>
                <td>{{allergies}}</td>
                <td>{{dishDescription}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
</section>