<section class="container restSingle">
    
    <img src="{{restaurant.image}}" alt="image"/>
    
    <h2>{{restaurant.name}}</h2>
    <p>
        <strong>Cuisine Type: </strong>
        {{restaurant.cuisineType}}
    </p>
    <p> 
        <strong>Restaurant Description:</strong>
        {{restaurant.description}}
    </p>
    <a class ="restaurant-index" href="/restaurant/{{restaurant._id}}/menu">View Menu</a>

    <div id="map-container"></div>

</section>

<script>
    const restaurant = {{{ json restaurant }}};

    const latitude = restaurant.location.coordinates[0];
    const longitude = restaurant.location.coordinates[1];

    function initMap() {
        const $mapContainer = document.getElementById('map-container');
        const map = new window.google.maps.Map($mapContainer, {
            center: {lat: latitude, lng: longitude},
            zoom: 11
        });
    

        
        const marker = new window.google.maps.Marker({
            map,
            position: { 
                lat: latitude,
                lng: longitude 
            }
        });
            
                       
    }


</script>
{{> mapscript}}